<hr>
<footer class="container">
    <div class="footer_item">
        <p>AwesomeBlog application ©️ Tsugumi Kanezaki</p>
    </div>
    
    <div class="footer_right">
        <div class="footer_item">
            <%= link_to "Home", root_path, class:"nav-item text-black-50" %>
        </div>
        <div class="footer_item">
            <%= link_to "About", about_path, class:"nav-item text-black-50" %>
        </div>
    </div>
</footer>